<div class = "table-responsive" style="width: auto;" ng-init="loadUsers()">
<table class = "table table-bordered table-striped">	
	<thead>
		<tr>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Email</th>
		</tr>
			
	</thead>
	<tbody>
		<tr ng-repeat = "user in users | orderBy : firstName">
			<td>{{user.firstName}}</td>
			<td>{{user.lastName}}</td>
			<td>{{user.email}}</td>
		</tr>
		
	</tbody>
</table>
</div>
