<div class="container" class = "signin-page-body">
	<div class="row">
		<form class="form-signin mg-btm" ng-submit = "loginForm.$valid && signin()" name="loginForm" novalidate>
	    	<h3 class="heading-desc">Sign In</h3> 
        	
			<div class="alert msg" ng-class="{'alert-danger':status.type=='error', 'alert-success':status.type=='success'}" ng-show="status.message">
				<span><strong>{{status.prefix}}</strong> {{status.message}}</span> 
			</div>   
			 	
	    	<div class="main">	
				<input type="email" name = "email" ng-model = "user.email" class="form-control" placeholder="Email" required autofocus>
		      	<div ng-messages="submitted && loginForm.email.$error" class="error-messages">
      				<div ng-message="required">You did not enter an email</div>
      				<div ng-message="email">You have entered an incorrect email</div>
    			</div>	
    					      
		        <input type="password" name = "password" ng-model = "user.password" class="form-control" placeholder="Password" required>
		      	<div ng-messages="submitted && loginForm.password.$error" class="error-messages">
      				<div ng-message="required">You did not enter password</div>
    			</div>
				<span class="clearfix"></span>	
	        </div>
        
		<div class="login-footer">
			<div class="row">
                 <div class="col-xs-6 col-md-6">
                     <div class="left-section">
						<a href="">Forgot Your Password?</a>
						<a href="#/signup">New User? Sign Up</a>
  					 </div>
	              </div>
	              <div class="col-xs-6 col-md-6 pull-right">
	                  <button type="submit" class="btn btn-large btn-danger pull-right" ng-click = "submitted = true">Sign In</button>
	              </div>
	         </div>
		</div>
		</form>
	</div>
</div>

	