<div class="container" ng-init ="editProfile()">
  	 <h2>Profile</h2>
  	 <div class="alert" ng-class="{'alert-danger':status.type=='error', 'alert-success':status.type=='success', 'alert-info': status.type == 'info'}" ng-show="status.message">
		 <span><strong>{{status.prefix}}</strong> {{status.message}}</span> 
	</div>
     <form class="form-horizontal" ng-submit = "profileForm.$valid && updateProfile()" name = "profileForm" novalidate>
		  <div class="form-group">
		    <label for="inputEmail3" class="col-sm-2 control-label">First Name</label>
		    <div class="col-sm-10">
		      <input type="text" name ="firstName" ng-model = "user.firstName" class="form-control" id="inputEmail3" required />
		      <div ng-messages="submitted && profileForm.firstName.$error" class="error-messages">
      				<div ng-message="required">You did not enter first name</div>
    		  </div>
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="inputPassword3" class="col-sm-2 control-label">Last Name</label>
		    <div class="col-sm-10">
		      <input type="text" name="lastName" ng-model = "user.lastName" class="form-control" id="inputPassword3" required/>
		      <div ng-messages="submitted && profileForm.lastName.$error" class="error-messages">
      				<div ng-message="required">You did not enter last name</div>
    		  </div>
		    </div>
		  </div>
		  <div class="form-group">
		    <div class="col-sm-offset-2 col-sm-10">
		      <button type="submit" class="btn btn-default" ng-click = "submitted = true">Save</button>
		    </div>
		  </div>
	</form>
</div>

